@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body {
    font-family: Ubuntu,Arial;
    width: 100%;
    height: 100%;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(67, 98, 157);
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
}

#header .profile img{
    margin: 15px auto;
    display:block ;
    width: 120px;
    border: 8px solid black;
    border-radius: 50%;
}

#header .profile h1{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align-last: center;
    color: black;
}

#header .profile .social-links a{
    font-size: 1rem;
    background: rgb(244, 241, 241);
    color: black;
    padding: 0.6rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
}

#header .profile .social-links a:hover{
    background: #046a5e;
}

.nav-menu a,
.nav-menu a:focus i{
    display: flex;
    align-items: center;
    color: black;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a:hover{
    color: white;
}

#main {
    margin-left: 300px;
}

section#inicio {
    background-image: url("imagens/programming-a-laptop-wuze1bxup48cr0bs.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    height: 100vh;
}

section#inicio h2{
    font-size: 6rem;
}

section#inicio span#subtitle {
    margin-right: 8rem;
    font-size: 1.5rem;
}

.text-shadow {
    text-shadow: 4px 4px 10px black;
}

section#inicio div#arreste{
    width: 9rem;
}

section#inicio div#arreste a{
    text-decoration: none;
    color: white;
}

i.menu-mobile {
    position: fixed;
    color: rgb(5, 107, 60);
    right:  1rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu-nav-active {
    overflow: hidden;
}

.menu-nav-active #header {
    left:0
}

@media (max-width: 1024px){
    #header {
        left:-300px;
    }
    i.menu-mobile{
        display: flex;
    }
    section#inicio h2{
        font-size: 3.5rem;
    }
    section#inicio span#subtitle {
        margin-right: 0;
        font-size: 1rem;
    }
    #main{
        margin-left: 0px;
    }
}

.section-bg {
    background-color: #eff5ff;
}

